/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  /*  === Header === */

  header {
    display: block;
    padding: 30px;
  }

  header > a > img {
    max-width: 50px;
  }

  header > img#menu {
    display: none;
  }

  header > nav {
    display: block;
    text-align: right;
    width: 100%;
  }

  header > nav > ul {
    display: block;
    margin-top: 20px;
  }

  header > nav > ul > li {
    display: inline;
  }

  header > nav > ul > li > a {
    display: inline;
    padding: 8px;
    transition: 0.3s;
  }

  header > nav > ul > li > a#home-button {
    background-color: var(--preto);
    color: var(--branco);
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
  }

  header > nav > ul > li > a:hover {
    background-color: var(--preto);
    color: var(--branco);
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
  }

  header > nav > ul > li > a#home-button:hover {
    background-color: var(--branco);
    color: var(--preto);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--preto);
    transition: 0.3s;
  }

    /* === Skills === */

  #sobre_mim > #skills > .skill > img {
    min-width: 70px
  }

    /* === Meus Projetos === */

  .projeto {
    min-width: 440px;
    margin: 20px auto;
  }

  .projeto > img {
    min-width: 440px;
    min-height: 240px;
    border-radius: 10px 10px 0px 0px;
  }

  .projeto > figcaption {
    background-color: var(--cinza_escuro);
    color: var(--branco_claro);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    transform: translateY(-10px);
  }

    /* === Contato === */

  #contato > form {
    width: 70vw;
  }

}

/* Estilos para desktops e laptops */
@media (min-width: 1024px) {
  /*  === Header === */

  header {
    display: block;
    padding: 30px;
  }

  header > a > img {
    min-width: 80px;
  }

  header > img#menu {
    display: none;
  }

  header > nav {
    display: block;
    text-align: right;
    width: 100%;
  }

  header > nav > ul {
    display: block;
    margin-top: 20px;
  }

  header > nav > ul > li {
    display: inline;
  }

  header > nav > ul > li > a {
    display: inline;
    padding: 8px;
    transition: 0.3s;
  }

  header > nav > ul > li > a#home-button {
    background-color: var(--preto);
    color: var(--branco);
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
  }

  header > nav > ul > li > a:hover {
    background-color: var(--preto);
    color: var(--branco);
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
  }

  header > nav > ul > li > a#home-button:hover {
    background-color: var(--branco);
    color: var(--preto);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--preto);
    transition: 0.3s;
  }

  /* === Home === */

  #home > h1#hello {
    font-size: 3em;
  }

  #home > h1#name {
    font-size: 3.5em;
  }

  #home > p {
    font-size: 2.4em;
    text-align: left;
  }

    /* === Sobre mim === */
  
  section#sobre_mim > p {
    width: 50vw;
    margin: auto;
    font-size: 1.2em;
  }
  

    /* === Projetos === */

    section#projetos {
      width: 60vw;

    }
  
  .projeto {
    min-width: 440px;
    margin: 20px auto;
  }

  .projeto > img {
    min-width: 440px;
    min-height: 240px;
    border-radius: 10px 10px 0px 0px;
  }

  .projeto > figcaption {
    background-color: var(--cinza_escuro);
    color: var(--branco_claro);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    transform: translateY(-10px);
  }

    /* === Contato === */

  #contato > form {
    width: 55vw;
  }
}
